html
	head
		title= 'Authors'
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css')
		meta(name="viewport" content="width=device-width, initial-scale=1.0")

		block head
	body
		block content

		script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")

		block scripts
